In [1]:
from thermal.combine import *

In [2]:
with open('./profiles.json', 'r') as fp:
    profiles = json.load(fp)

In [3]:
uids = list(profiles.keys())

In [4]:
uids

['01', '02', '05', '06', '07', '08']

In [5]:
dfs = []
for uid in uids:
    dfs.append(combine(uid))

finish: 01
finish: 02
finish: 05
finish: 06
finish: 07
finish: 08

In [6]:
df_concated = pd.concat([pd.concat(dfs)]).reset_index(drop=True)

In [7]:
df_concated

,time,height,weight,gender,bmi,age,env_temp,rh,heart_rate,stress_level,skin_temp,eda,TC,TS,Clo,Act
0,2020-12-09 13:20:00,1.62,52,1,19.814053,26,83.779,36.837,97.0,58.0,31.065,8.696614,4,5,0.61,1.0
1,2020-12-09 13:30:00,1.62,52,1,19.814053,26,87.073,39.856,119.0,NaN,31.588,14.716620,3,6,0.61,4.0
2,2020-12-09 13:40:00,1.62,52,1,19.814053,26,88.947,40.446,122.0,NaN,31.772,13.199185,3,6,0.61,4.0
3,2020-12-09 13:50:00,1.62,52,1,19.814053,26,86.437,45.924,106.0,NaN,31.641,7.708511,4,3,0.74,1.0
4,2020-12-09 14:00:00,1.62,52,1,19.814053,26,83.779,45.179,96.5,NaN,31.274,5.524036,3,2,0.74,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2020-12-09 14:40:00,1.77,90,-1,28.727377,28,84.654,15.000,121.5,NaN,31.955,11.877829,2,7,0.74,4.0
74,2020-12-09 14:50:00,1.77,90,-1,28.727377,28,86.097,16.270,104.0,NaN,31.693,13.723230,4,4,0.61,1.0
75,2020-12-09 15:00:00,1.77,90,-1,28.727377,28,85.915,15.000,106.0,86.0,32.474,12.256653,5,4,0.61,1.0
76,2020-12-09 15:10:00,1.77,90,-1,28.727377,28,85.374,25.480,120.0,NaN,31.588,11.623549,5,3,1.00,4.0
77,2020-12-09 15:20:00,1.77,90,-1,28.727377,28,85.194,17.180,109.0,86.5,31.615,11.110644,4,4,1.00,1.0

In [8]:
df_concated.to_csv('train.csv', index=False)