In [1]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
# checking for missing data
NAs = pd.concat([df.isnull().sum()], axis=1, keys=['col'])
NAs[NAs.sum(axis=1) > 0]

In [ ]:
# filling missing values
df[] = df[].fillna(df[].means())
df[] = df[].fillna(df[].mode()[0])

In [ ]:
# change type
df[] = df[].apply(str)

In [ ]:
# one hot coding
for col in df.dtypes[df.dtypes == 'object'].index:
    for_dummy = df.pop(col)
    df = pd.concat([df, pd.get_dummies(for_dummy, prefix=col)], axis=1)

In [2]:
rfr = RandomForestRegressor()

In [3]:
rfr

RandomForestRegressor()

### save refined data

In [97]:
pd.concat([X_data_refine, y_data_refine], axis=1)

,height,weight,gender,bmi,age,rh,heart_rate,stress_level,skin_temp,eda,TC,TS,Clo,Act,env_temp
0,0.018674,0.016305,0.019889,0.018573,0.019347,0.024127,0.020524,0.010107,0.019882,0.000866,0.020182,0.018018,0.022576,0.018588,75.942
1,0.020659,0.018013,-0.019889,0.016766,0.018541,0.018656,0.019535,0.001037,0.019217,0.000190,0.020182,0.018018,0.013323,0.018588,77.378
2,0.019958,0.019877,-0.019889,0.019822,0.021765,0.018383,0.019618,0.017104,0.020624,0.002329,0.020182,0.018018,0.022576,0.016898,75.484
3,0.020659,0.018013,-0.019889,0.016766,0.018541,0.020090,0.022750,0.027470,0.018905,0.000048,0.020182,0.018018,0.013323,0.016898,77.203
4,0.020659,0.018013,-0.019889,0.016766,0.018541,0.021603,0.019618,0.041464,0.018691,0.000018,0.020182,0.018018,0.013323,0.016898,77.902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2521,0.020659,0.027952,-0.019889,0.026016,0.022571,0.022753,0.017804,0.017104,0.019478,0.001243,0.020182,0.018018,0.013323,0.018588,74.467
2522,0.019958,0.019877,-0.019889,0.019822,0.021765,0.018077,0.020029,0.016643,0.019882,0.003264,0.020182,0.018018,0.027387,0.016898,73.753
2523,0.019375,0.017703,0.019889,0.018733,0.020153,0.020279,0.019618,0.001037,0.019168,0.000043,0.020182,0.018018,0.019985,0.016898,76.703
2524,0.019725,0.023293,-0.019889,0.023782,0.019347,0.018008,0.019618,0.016643,0.019445,0.000125,0.015137,0.018018,0.013323,0.016898,75.484
2526,0.020308,0.020188,-0.019889,0.019443,0.018541,0.020548,0.019618,0.016643,0.021215,0.000643,0.020182,0.031532,0.019985,0.013519,79.151