In [1]:
from thermal.combine import *

In [2]:
with open('./profiles.json', 'r') as fp:
    profiles = json.load(fp)

In [3]:
uids = list(profiles.keys())

In [4]:
uids_r1 = uids[0:10]
uids_r2 = uids[10:20]
uids_r3 = uids[20:30]

In [5]:
dfs_r1 = []
for uid in uids_r1:
    dfs_r1.append(combine(uid))

finish: r1_01
finish: r1_02
finish: r1_03
finish: r1_04
finish: r1_05
finish: r1_06
finish: r1_07
finish: r1_08
finish: r1_09
finish: r1_10

In [6]:
dfs_r2 = []
for uid in uids_r2:
    dfs_r2.append(combine(uid))

finish: r2_01
finish: r2_02
finish: r2_03
finish: r2_04
finish: r2_05
finish: r2_06
finish: r2_07
finish: r2_08
finish: r2_09
finish: r2_10

In [7]:
dfs_r3 = []
for uid in uids_r3:
    dfs_r3.append(combine(uid))

finish: r3_01
finish: r3_02
finish: r3_03
finish: r3_04
finish: r3_05
finish: r3_06
finish: r3_07
finish: r3_08
finish: r3_09
finish: r3_10

In [8]:
df_concated = pd.concat([pd.concat(dfs_r1), pd.concat(dfs_r2), pd.concat(dfs_r3)]).reset_index(drop=True)

In [9]:
df_concated

,time,height,weight,gender,bmi,age,env_temp,rh,heart_rate,stress_level,skin_temp,eda,TC,TS,Clo,Act
0,2020-10-19 14:00:00,1.64,54.0,1,20.077335,24,77.990,62.122,60.0,17.0,NaN,NaN,4.0,4.0,0.74,1.0
1,2020-10-19 14:30:00,1.64,54.0,1,20.077335,24,78.208,62.321,78.0,60.0,30.748,0.926321,4.0,4.0,0.74,1.1
2,2020-10-19 15:00:00,1.64,54.0,1,20.077335,24,78.514,62.255,79.0,46.0,31.327,1.232405,4.0,4.0,0.74,1.1
3,2020-10-19 15:30:00,1.64,54.0,1,20.077335,24,79.041,61.491,94.0,91.0,31.458,0.375005,4.0,4.0,0.74,1.0
4,2020-10-19 16:00:00,1.64,54.0,1,20.077335,24,79.435,61.071,85.0,71.0,32.085,0.081127,4.0,4.0,0.74,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2791,2020-10-28 21:30:00,1.63,50.0,1,18.818924,23,76.528,40.530,73.0,22.0,31.850,0.114876,2.0,3.0,0.50,1.0
2792,2020-10-28 22:00:00,1.63,50.0,1,18.818924,23,76.876,39.890,70.5,10.0,32.215,0.146231,2.0,3.0,0.50,1.0
2793,2020-10-28 22:30:00,1.63,50.0,1,18.818924,23,77.050,39.710,72.0,5.0,32.656,0.153838,2.0,3.0,0.50,1.0
2794,2020-10-28 23:00:00,1.63,50.0,1,18.818924,23,76.703,39.980,66.0,0.0,31.902,0.160930,2.0,3.0,0.50,1.0
2795,2020-10-28 23:30:00,1.63,50.0,1,18.818924,23,76.354,41.050,86.0,NaN,30.563,0.281910,2.0,3.0,0.50,1.0

In [10]:
df_concated.to_csv('train.csv', index=False)