In [1]:
import datetime

import pandas as pd

In [2]:
df = pd.read_csv('./env_05.csv')
df

    Date Time, GMT-08:00  Temp, °F
0      12/09/20 11:45:00    69.557
1      12/09/20 11:46:00    69.600
2      12/09/20 11:47:00    69.685
3      12/09/20 11:48:00    69.728
4      12/09/20 11:49:00    69.771
..                   ...       ...
221    12/09/20 15:26:00    70.803
222    12/09/20 15:27:00    70.930
223    12/09/20 15:28:00    71.060
224    12/09/20 15:29:00    71.060
225    12/09/20 15:30:00    71.146

[226 rows x 2 columns]

In [3]:
df.columns = ['time', 'env_temp']

In [4]:
df

                  time  env_temp
0    12/09/20 11:45:00    69.557
1    12/09/20 11:46:00    69.600
2    12/09/20 11:47:00    69.685
3    12/09/20 11:48:00    69.728
4    12/09/20 11:49:00    69.771
..                 ...       ...
221  12/09/20 15:26:00    70.803
222  12/09/20 15:27:00    70.930
223  12/09/20 15:28:00    71.060
224  12/09/20 15:29:00    71.060
225  12/09/20 15:30:00    71.146

[226 rows x 2 columns]

In [5]:
df.time = df.time.map(lambda t: datetime.datetime.strptime(t, '%m/%d/%y %H:%M:%S'))

In [6]:
df

                   time  env_temp
0   2020-12-09 11:45:00    69.557
1   2020-12-09 11:46:00    69.600
2   2020-12-09 11:47:00    69.685
3   2020-12-09 11:48:00    69.728
4   2020-12-09 11:49:00    69.771
..                  ...       ...
221 2020-12-09 15:26:00    70.803
222 2020-12-09 15:27:00    70.930
223 2020-12-09 15:28:00    71.060
224 2020-12-09 15:29:00    71.060
225 2020-12-09 15:30:00    71.146

[226 rows x 2 columns]

In [7]:
df.to_csv('./env_05_processed.csv', index=False)