In [46]:
import datetime
from functools import reduce

import pandas as pd

In [50]:
df = pd.read_csv('./003.csv')
df

                      time  env_temp      rh
0      2020-10-18 23:59:00    76.028  59.317
1      2020-10-19 00:00:00    76.071  59.289
2      2020-10-19 00:01:00    76.071  59.320
3      2020-10-19 00:02:00    76.071  59.289
4      2020-10-19 00:03:00    76.114  59.262
...                    ...       ...     ...
14465  2020-10-29 01:04:00    76.375  47.128
14466  2020-10-29 01:05:00    76.332  47.158
14467  2020-10-29 01:06:00    76.289  47.283
14468  2020-10-29 01:07:00    76.289  47.411
14469  2020-10-29 01:08:00    76.246  47.472

[14470 rows x 3 columns]

In [43]:
dates = ['2020-10-18', '2020-10-19', '2020-10-20']

In [45]:
target_dates_list = [df.time.str.startswith(date) for date in dates]

In [48]:
target_dates = reduce(lambda x, y: x | y, target_dates_list)

In [51]:
df = df[target_dates]

In [52]:
df

                     time  env_temp      rh
0     2020-10-18 23:59:00    76.028  59.317
1     2020-10-19 00:00:00    76.071  59.289
2     2020-10-19 00:01:00    76.071  59.320
3     2020-10-19 00:02:00    76.071  59.289
4     2020-10-19 00:03:00    76.114  59.262
...                   ...       ...     ...
2876  2020-10-20 23:55:00    75.204  59.738
2877  2020-10-20 23:56:00    75.247  59.711
2878  2020-10-20 23:57:00    75.247  59.742
2879  2020-10-20 23:58:00    75.290  59.715
2880  2020-10-20 23:59:00    75.333  59.719

[2881 rows x 3 columns]

In [53]:
l1 = '.dfe'

In [54]:
l1[0]

'.'