In [1]:
import os
import pandas as pd

from sklearn.impute import SimpleImputer

In [2]:
def trans_tc_categories(value):
    if value == 1:
        return 'very_uncomfortable'
    elif value == 2:
        return 'uncomfortable'
    elif value == 3:
        return 'slightly_uncomfortable'
    elif value == 4:
        return 'neutral'
    elif value == 5:
        return 'slightly_comfortable'
    elif value == 6:
        return 'comfortable'
    elif value == 7:
        return 'very_comfortable'

In [7]:
def save_as_arff(filename, df):
    df.to_csv(filename, header=None, index=None)
    with open(filename, "r+") as fp:
        content = fp.read()
        fp.seek(0, 0)
#         fp.write('''@RELATION signals\n\n@ATTRIBUTE env_temp NUMERIC\n@ATTRIBUTE rh NUMERIC\n@ATTRIBUTE heart_rate NUMERIC\n@ATTRIBUTE stress_level NUMERIC\n@ATTRIBUTE skin_temp NUMERIC\n@ATTRIBUTE eda NUMERIC\n@ATTRIBUTE Clo NUMERIC\n@ATTRIBUTE Act NUMERIC\n@ATTRIBUTE TC {very_uncomfortable,slightly_uncomfortable,uncomfortable,neutral,slightly_comfortable,comfortable,very_comfortable}\n\n@DATA\n''' + content)
        fp.write('''@RELATION signals\n\n@ATTRIBUTE env_temp NUMERIC\n@ATTRIBUTE rh NUMERIC\n@ATTRIBUTE heart_rate NUMERIC\n@ATTRIBUTE stress_level NUMERIC\n@ATTRIBUTE skin_temp NUMERIC\n@ATTRIBUTE eda NUMERIC\n@ATTRIBUTE Clo NUMERIC\n@ATTRIBUTE Act NUMERIC\n@ATTRIBUTE TC {1.0,2.0,3.0,4.0,5.0,6.0,7.0}\n\n@DATA\n''' + content)

In [8]:
def split_into_train_test(df, frac=0.8, rd=1208):
    df = df.sample(frac=1, random_state=rd).reset_index(drop=True)
    n_rows = df.shape[0]
    n_rows_train = int(n_rows * frac)
    # n_rows_test = n_rows - n_rows_train

    df_train = df[:n_rows_train].reset_index(drop=True)
    df_test = df[n_rows_train:].reset_index(drop=True)
    return df_train, df_test

In [9]:
def process_one_person(path, person_id):
    file_path = os.path.join(path, '%.2d.csv' % person_id)
    print(file_path)
    df = pd.read_csv(file_path)

    imp = SimpleImputer(strategy='mean')
    df_imp = pd.DataFrame(imp.fit_transform(df), columns=df.columns)
    
    df_train, df_test = split_into_train_test(df_imp)

#     for idx, row in df_train.iterrows():
#         df_train['TC'][idx] = trans_tc_categories(row['TC'])
#     for idx, row in df_test.iterrows():
#         df_test['TC'][idx] = trans_tc_categories(row['TC'])

    train_filename = 'train_data_arff/%.2d.arff' % person_id
    test_filename = 'test_data_arff/%.2d.arff' % person_id

    save_as_arff(train_filename, df_train)
    save_as_arff(test_filename, df_test)

In [10]:
path = os.path.join(os.getcwd(), 'all_data')
for person_id in range(1, 31):
    process_one_person(path, person_id)

D:\share\develpment\mecsc\tc\TC\all_data\01.csv
D:\share\develpment\mecsc\tc\TC\all_data\02.csv
D:\share\develpment\mecsc\tc\TC\all_data\03.csv
D:\share\develpment\mecsc\tc\TC\all_data\04.csv
D:\share\develpment\mecsc\tc\TC\all_data\05.csv
D:\share\develpment\mecsc\tc\TC\all_data\06.csv
D:\share\develpment\mecsc\tc\TC\all_data\07.csv
D:\share\develpment\mecsc\tc\TC\all_data\08.csv
D:\share\develpment\mecsc\tc\TC\all_data\09.csv
D:\share\develpment\mecsc\tc\TC\all_data\10.csv
D:\share\develpment\mecsc\tc\TC\all_data\11.csv
D:\share\develpment\mecsc\tc\TC\all_data\12.csv
D:\share\develpment\mecsc\tc\TC\all_data\13.csv
D:\share\develpment\mecsc\tc\TC\all_data\14.csv
D:\share\develpment\mecsc\tc\TC\all_data\15.csv
D:\share\develpment\mecsc\tc\TC\all_data\16.csv
D:\share\develpment\mecsc\tc\TC\all_data\17.csv
D:\share\develpment\mecsc\tc\TC\all_data\18.csv
D:\share\develpment\mecsc\tc\TC\all_data\19.csv
D:\share\develpment\mecsc\tc\TC\all_data\20.csv
D:\share\develpment\mecsc\tc\TC\all_data\21.csv
D:\share\develpment\mecsc\tc\TC\all_data\22.csv
D:\share\develpment\mecsc\tc\TC\all_data\23.csv
D:\share\develpment\mecsc\tc\TC\all_data\24.csv
D:\share\develpment\mecsc\tc\TC\all_data\25.csv
D:\share\develpment\mecsc\tc\TC\all_data\26.csv
D:\share\develpment\mecsc\tc\TC\all_data\27.csv
D:\share\develpment\mecsc\tc\TC\all_data\28.csv
D:\share\develpment\mecsc\tc\TC\all_data\29.csv
D:\share\develpment\mecsc\tc\TC\all_data\30.csv

In [4]:
path = os.path.join(os.getcwd(), 'all_data')
person_id = 1
file_path = os.path.join(path, '%.2d.csv' % person_id)

In [5]:
df = pd.read_csv(file_path)

In [19]:
df

,env_temp,rh,heart_rate,stress_level,skin_temp,eda,Clo,Act,TC
0,25.550000,62.122,60.000000,17.0,32.019343,0.328260,0.74,1.0,4
1,25.671111,62.321,78.000000,60.0,30.748000,0.926320,0.74,1.1,4
2,25.841111,62.255,79.000000,46.0,31.327000,1.232405,0.74,1.1,4
3,26.133889,61.491,94.000000,91.0,31.458000,0.375005,0.74,1.0,4
4,26.352778,61.071,85.000000,71.0,32.085000,0.081127,0.74,1.0,4
...,...,...,...,...,...,...,...,...,...
73,25.065000,62.194,71.000000,16.0,32.019343,0.328260,0.74,1.0,4
74,24.992222,62.332,64.000000,2.0,32.019343,0.328260,0.74,1.0,4
75,24.943889,62.205,75.714286,8.0,32.019343,0.328260,0.74,1.0,4
76,24.750000,62.589,75.714286,3.0,32.019343,0.328260,0.74,1.2,4
77,24.967778,62.298,81.000000,48.0,32.019343,0.328260,0.74,1.0,4

In [20]:
df[df[['TC']].isna().TC]

Empty DataFrame
Columns: [env_temp, rh, heart_rate, stress_level, skin_temp, eda, Clo, Act, TC]
Index: []

In [21]:
imp = SimpleImputer(strategy='mean')

In [22]:
df_imp = pd.DataFrame(imp.fit_transform(df), columns=df.columns)

In [23]:
df_imp

,env_temp,rh,heart_rate,stress_level,skin_temp,eda,Clo,Act,TC
0,25.550000,62.122,60.000000,17.0,32.019343,0.328260,0.74,1.0,4.0
1,25.671111,62.321,78.000000,60.0,30.748000,0.926320,0.74,1.1,4.0
2,25.841111,62.255,79.000000,46.0,31.327000,1.232405,0.74,1.1,4.0
3,26.133889,61.491,94.000000,91.0,31.458000,0.375005,0.74,1.0,4.0
4,26.352778,61.071,85.000000,71.0,32.085000,0.081127,0.74,1.0,4.0
...,...,...,...,...,...,...,...,...,...
73,25.065000,62.194,71.000000,16.0,32.019343,0.328260,0.74,1.0,4.0
74,24.992222,62.332,64.000000,2.0,32.019343,0.328260,0.74,1.0,4.0
75,24.943889,62.205,75.714286,8.0,32.019343,0.328260,0.74,1.0,4.0
76,24.750000,62.589,75.714286,3.0,32.019343,0.328260,0.74,1.2,4.0
77,24.967778,62.298,81.000000,48.0,32.019343,0.328260,0.74,1.0,4.0

In [28]:
df_train, df_test = split_into_train_test(df_imp)

In [29]:
df_train

,env_temp,rh,heart_rate,stress_level,skin_temp,eda,Clo,Act,TC
0,25.501111,61.753,77.0,15.00000,32.241000,0.263526,0.74,1.0,4.0
1,26.646111,61.965,60.5,5.00000,32.137000,0.539523,0.74,1.0,4.0
2,26.085000,60.604,69.0,33.21875,31.170000,2.136545,0.74,1.0,4.0
3,25.427778,61.771,77.0,44.00000,31.719000,0.296033,0.74,1.0,4.0
4,24.967778,62.298,81.0,48.00000,32.019343,0.328260,0.74,1.0,4.0
...,...,...,...,...,...,...,...,...,...
57,25.065000,62.194,71.0,16.00000,32.019343,0.328260,0.74,1.0,4.0
58,25.671111,62.321,78.0,60.00000,30.748000,0.926320,0.74,1.1,4.0
59,24.773889,62.537,78.0,10.00000,31.745000,0.631832,0.74,1.0,4.0
60,26.352778,61.071,85.0,71.00000,32.085000,0.081127,0.74,1.0,4.0
61,25.647222,60.688,73.0,15.00000,32.370000,0.240482,1.00,0.8,5.0

In [30]:
df_test

,env_temp,rh,heart_rate,stress_level,skin_temp,eda,Clo,Act,TC
0,26.061111,59.991,75.714286,61.00000,32.396,0.074261,0.74,1.1,4.0
1,25.987222,60.315,64.000000,33.21875,32.837,0.141847,0.74,1.1,4.0
2,25.841111,62.255,79.000000,46.00000,31.327,1.232405,0.74,1.1,4.0
3,26.303889,59.785,109.000000,33.21875,33.070,0.345183,0.74,1.1,4.0
4,26.328889,60.368,67.000000,23.00000,33.585,0.365164,0.74,1.1,4.0
5,25.355000,62.091,80.000000,45.00000,31.353,0.249282,0.74,1.0,4.0
6,25.792778,62.010,75.714286,16.00000,30.933,0.501436,0.74,1.0,4.0
7,25.767778,61.040,65.000000,2.00000,32.474,0.171619,0.74,1.0,3.0
8,26.548889,61.496,84.000000,83.00000,32.189,0.182755,0.74,1.0,4.0
9,26.036111,62.199,67.000000,33.21875,32.292,0.096819,0.74,1.0,4.0
10,26.182222,60.710,75.714286,33.21875,31.745,1.373843,0.74,1.0,4.0
11,25.525000,61.636,70.000000,20.00000,32.059,0.263771,0.74,1.0,3.0
12,26.328889,63.387,91.000000,83.00000,31.274,0.146962,0.74,1.1,4.0
13,25.355000,62.600,87.000000,79.00000,31.353,0.529814,0.74,1.1,4.0
14,26.012222,62.105,64.000000,46.00000,32.863,0.637919,0.74,1.0,4.0
15,25.233889,62.521,100.500000,87.00000,31.091,0.129504,0.74,1.0,4.0

In [34]:
for idx, row in df_train.iterrows():
    df_train['TC'][idx] = trans_tc_categories(row['TC'])
for idx, row in df_test.iterrows():
    df_test['TC'][idx] = trans_tc_categories(row['TC'])

D:\software\Anaconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\software\Anaconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [35]:
df_train

,env_temp,rh,heart_rate,stress_level,skin_temp,eda,Clo,Act,TC
0,25.501111,61.753,77.0,15.00000,32.241000,0.263526,0.74,1.0,neutral
1,26.646111,61.965,60.5,5.00000,32.137000,0.539523,0.74,1.0,neutral
2,26.085000,60.604,69.0,33.21875,31.170000,2.136545,0.74,1.0,neutral
3,25.427778,61.771,77.0,44.00000,31.719000,0.296033,0.74,1.0,neutral
4,24.967778,62.298,81.0,48.00000,32.019343,0.328260,0.74,1.0,neutral
...,...,...,...,...,...,...,...,...,...
57,25.065000,62.194,71.0,16.00000,32.019343,0.328260,0.74,1.0,neutral
58,25.671111,62.321,78.0,60.00000,30.748000,0.926320,0.74,1.1,neutral
59,24.773889,62.537,78.0,10.00000,31.745000,0.631832,0.74,1.0,neutral
60,26.352778,61.071,85.0,71.00000,32.085000,0.081127,0.74,1.0,neutral
61,25.647222,60.688,73.0,15.00000,32.370000,0.240482,1.00,0.8,slightly_comfortable

In [36]:
df_test

,env_temp,rh,heart_rate,stress_level,skin_temp,eda,Clo,Act,TC
0,26.061111,59.991,75.714286,61.00000,32.396,0.074261,0.74,1.1,neutral
1,25.987222,60.315,64.000000,33.21875,32.837,0.141847,0.74,1.1,neutral
2,25.841111,62.255,79.000000,46.00000,31.327,1.232405,0.74,1.1,neutral
3,26.303889,59.785,109.000000,33.21875,33.070,0.345183,0.74,1.1,neutral
4,26.328889,60.368,67.000000,23.00000,33.585,0.365164,0.74,1.1,neutral
5,25.355000,62.091,80.000000,45.00000,31.353,0.249282,0.74,1.0,neutral
6,25.792778,62.010,75.714286,16.00000,30.933,0.501436,0.74,1.0,neutral
7,25.767778,61.040,65.000000,2.00000,32.474,0.171619,0.74,1.0,slightly_uncomfortable
8,26.548889,61.496,84.000000,83.00000,32.189,0.182755,0.74,1.0,neutral
9,26.036111,62.199,67.000000,33.21875,32.292,0.096819,0.74,1.0,neutral
10,26.182222,60.710,75.714286,33.21875,31.745,1.373843,0.74,1.0,neutral
11,25.525000,61.636,70.000000,20.00000,32.059,0.263771,0.74,1.0,slightly_uncomfortable
12,26.328889,63.387,91.000000,83.00000,31.274,0.146962,0.74,1.1,neutral
13,25.355000,62.600,87.000000,79.00000,31.353,0.529814,0.74,1.1,neutral
14,26.012222,62.105,64.000000,46.00000,32.863,0.637919,0.74,1.0,neutral
15,25.233889,62.521,100.500000,87.00000,31.091,0.129504,0.74,1.0,neutral